<h4>Agregar Personaje</h4>
<form class="row">
<!-- o ponemos name o ponemos standalone = true, si no da error en consola -->    
    <input type="text" class="form-control mb-2" [(ngModel)]="character.name" 
    [ngModelOptions]="{standalone: true}" placeholder="Nombre">

    <input type="number"  class="form-control mb-2" [(ngModel)]="character.power"
     name="power" placeholder="Poder" >

    <button class="btn btn-primary">
        Agregar
    </button>

    <br>
    <pre>Pipe: {{ character | json}}</pre>
</form>
